*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: #F3E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 353px;
    height: 375px;
    color: #000;
    font-family: Gloock;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.iniciar {
    background-color: #607780;
    border-radius: 50px;
    width: 496px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3E4E4;
}