*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3E4E4;
}

.tela-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 300px;
    margin-bottom: 30px;
}

.botao {
    background-color: #607780;
    border-radius: 50px;
    padding: 15px 100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3E4E4;
    transition: 0.3s ease;
}

.botao:hover {
    background-color: #46585f;
}